
  
  .row {
    display: flex;
    animation: slide 35s linear infinite;
  }
  
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  /* Add your Dynamic component styling here */
  